

/********** Base styles **********/
* {
  box-sizing: border-box;

}
body {
      font-size: 16px;
      color:black;
      background-color: white;
      font-family: "oxygen",sans-serif;
      width: 100%;
      height: 200%;

}
#header-nav{
  background-color: #822866;
  border-radius: 0;
  border:0;
  position: relative;
  width: 100%;
}
.navbar-brand{
  padding-top: 25px;
  height: 60px;
}
.navbar-brand h1{
  position: relative;
  text-align: top-left;
  margin-top: 0px;
  margin-left:0;
  font-weight: bold;
  line-height: 20px;
  color: white;
}
.navbar-brand a:hover,.navbar-brand:focus{
  text-decoration: none;
}
#nav-list{
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: none;
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
}
#nav-list a:hover,#nav-list:focus{
  text-decoration:none;
  background-color: #9de2e3;
  width: 100%;

}
h1{
  text-align: center;
  color: black;
  font-weight: bold;

}
#collapsable-nav{
  border-top: 10px solid white;
  border-bottom: 20px solid white;
  background-color: #ffffff;
}
/*MAIN BODY VARIOUS MENUS*/
#chicken-tile{
  background-color:#5cb7cc;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px; 
  margin-top: 40px;
  height: 1000px; 
  font-weight: bold; 
  font-size: 1.5em;
}
#chicken-tile p{
  font-size: 0.8em;
  font-weight: normal;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify;
  overflow: hidden;
}
#beef-tile{
  background-color:#66a2b0;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px; 
  margin-top: 40px;
  height: 1000px; 
  font-weight: bold; 
  font-size: 1.5em;"
}
#beef-tile p{
  font-size: 0.8em;
  font-weight: normal;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify;
  overflow: hidden;
 }
 #sushi-tile{
  background-color:#688e96;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px; 
  margin-top: 40px;
  height: 1000px; 
  font-weight: bold; 
  font-size: 1.5em;"
}
 #sushi-tile p{
  font-size: 0.8em;
  font-weight: normal;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify;
  overflow: hidden;
}

/*********Desktop devices only **********/
@media(min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
   float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }


/********** Tablets only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  
}
 
}
  ***MOBILE Phones Only************************************
  @media(max-width: 767px){
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
      float: left;
      border: 2px solid blue;
    }
    .col-sm-1{
      width: 8.33%;
    }
    .col-sm-2{
      width: 16.66%;
    }
    .col-sm-3{
      width: 25%;
    }
    .col-sm-4{
      width: 33.33%;
    }
    .col-sm-5{
      width: 41.66%;
    }
    .col-sm-6{
      width: 50%;s
    }
    .col-sm-7{
      width: 58.33%
    }
    .col-sm-8{
      width: 66.66%;
    }
    .col-sm-9{
      width: 74.99%;
    }
    .col-sm-10{
      width: 83.33%;
    }
    .col-sm-11{
      width: 91.66%;
    }
    .col-sm-12{
      width: 100%;  
    }
 

    }
    /*EXTRA SMALL DEVICES*/
    @media(max-width: 518px){
      .col-xs-12{
        width: 100%
      }
      #chicken-tile,#beef-tile,#sushi-tile{
        height: 2000px;
      }

    }
</style>